:root {
    --secondary-dark: hsl(15, 98%, 57%);
    --focus-dark: #19283880;
    --option-color: #213142;
    --msg-get: hsl(15, 40%, 57%);
    --msg-get-reply: hsl(15, 88%, 27%);
    --msg-send: hsl(15, 98%, 57%);
    --msg-send-reply: hsl(15, 35%, 27%);
    --pattern: url('/images/backgrounds/geometry_w.webp');
}
  