.message {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  position: relative;
  padding: 0 18px 0 5px;
}
.message .messageContainer {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-end;
  gap: 3px;
  font-size: 0.8rem;
  width: 100%;
  position: relative;
}
.message .messageContainer .replyIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background: var(--glass);
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translateX(-40px);
  visibility: hidden;
  opacity: 0;
}
.message .sent {
  display: none;
}
.message .sent i {
  font-size: 0.5rem !important;
  padding: 0;
  color: var(--foreground-dark);
}
.message .avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: rgba(218, 218, 218, 0);
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message .messageBody {
  position: relative;
  background: rgba(0, 0, 0, 0);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
}
.message .messageBody .messageTitle {
  color: var(--secondary-dark);
  transform: translateY(20px);
  padding: 3px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5px;
}
.message .messageBody .messageReply {
  background: var(--msg-get-reply);
  color: hsla(0, 0%, 100%, 0.5);
  border-radius: 18px 18px 18px 8px;
  width: max-content;
  max-width: 250px;
  white-space: pre;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  transform: translateY(20px);
  cursor: pointer;
  z-index: 0;
  padding: 8px 8px 25px 8px;
}
.message .messageBody .messageReply i {
  padding: 2px 0 0 0;
  color: rgba(255, 255, 255, 0.3764705882);
  font-size: 1rem !important;
}
.message .messageBody .messageReply.imageReply {
  padding: 0;
  filter: brightness(0.4) !important;
  background: rgba(255, 255, 255, 0.09) !important;
  position: relative;
}
.message .messageBody .messageReply.imageReply img {
  max-height: 200px;
  max-width: 200px;
  object-fit: cover;
}
.message .messageBody .messageReply.imageReply img.sticker {
  height: 100px;
  width: 100px;
}
.message .messageTime {
  color: gray;
  font-size: 0.6rem;
  padding: 0 0 0 15px;
  visibility: hidden;
  opacity: 0;
  transition: 200ms ease-in-out;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 58px;
  min-width: 58px;
}
.message .messageTime.active {
  visibility: visible;
  opacity: 1;
}
.message:last-child .messageTime {
  visibility: visible;
  opacity: 1;
}

.message.start .messageMain > * {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 18px;
}
.message.start .messageTitle {
  display: flex;
}

.message.end .messageMain > * {
  border-bottom-left-radius: 18px;
}
.message.end .avatar {
  visibility: visible;
}

.message.noreply .messageReply {
  display: none !important;
}
.message.noreply .messageTitle {
  transform: none !important;
}

.message:not(.noreply) .messageTitle::before {
  content: "\f3e5";
  font-family: "FontAwesome";
  font-size: 1rem;
}

.message.notitle {
  padding-top: 0;
}
.message.notitle .messageTitle {
  display: none !important;
}

.message.self .messageContainer {
  flex-direction: row-reverse;
}
.message.self .sent {
  display: block;
}
.message.self.delevered .sent {
  display: none;
}
.message.self .messageTime {
  justify-content: flex-end;
  padding: 0 15px 0 0;
}
.message.self .avatar {
  display: none;
}
.message.self .replyIcon {
  right: 0;
  left: unset;
  transform: translateX(50px);
}
.message.self .messageBody {
  align-items: flex-end;
}
.message.self .messageBody .messageReply {
  background: var(--msg-send-reply);
  border-radius: 18px 18px 8px 18px;
}
.message.self .messageBody .messageReply .image {
  border-radius: 18px 18px 8px 18px;
}
.message.self .messageBody .messageReply.imageReply {
  border-radius: 18px 18px 8px 18px !important;
}
.message.self .messageBody .messageMain {
  flex-direction: row-reverse;
}
.message.self .messageBody .messageMain .text {
  background: var(--msg-send);
}
.message.self .messageBody .messageMain .audioMessage {
  background: var(--msg-send);
}
.message.self .messageBody .messageMain .file {
  background: var(--msg-send);
}
.message.self .messageBody .messageMain > * {
  border-radius: 18px 5px 5px 18px;
}
.message.self.start .messageMain > * {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 18px;
}
.message.self.start .messageTitle {
  display: flex;
}
.message.self.end .messageMain > * {
  border-bottom-right-radius: 18px;
}
.message.self.end .avatar {
  visibility: visible;
}

.messageMain {
  display: flex;
  color: white;
  position: relative;
  flex-direction: row;
}
.messageMain > * {
  border-radius: 5px 18px 18px 5px;
}
.messageMain:hover {
  cursor: pointer;
}
.messageMain .msg {
  transition: 100ms ease-in-out;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.messageMain .msg .data {
  border-radius: inherit;
}
.messageMain .msg.text {
  background: var(--msg-get);
  min-width: 32px;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  white-space: pre-wrap;
}
.messageMain .msg.text .data.text-content {
  padding: 8px;
  font-size: 0.8rem;
}
.messageMain .msg.sticker {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.0901960784);
  border-radius: 18px;
  display: block;
}
.messageMain .msg.sticker .image {
  border-radius: inherit;
  height: 100%;
  width: 100%;
}