:root {
    --secondary-dark: hsl(213, 98%, 57%);
    --msg-get: hsl(213, 40%, 57%);
    --msg-get-reply: hsl(213, 88%, 27%);
    --msg-send: hsl(213, 98%, 57%);
    --msg-send-reply: hsl(213, 35%, 27%);
    --pattern: url('/images/backgrounds/Blue_w.webp');
}