:root {
    --secondary-dark: #9fbb4e;
    --msg-get: hsl(40, 51%, 39%);
    --msg-get-reply: hsl(40.2deg 66.54% 19.37%);
    --msg-send: hsl(66.21deg 56.8% 37.19%);
    --msg-send-reply: hsl(72.97deg 38.23% 24.9%);
    --modal-color: hsl(150deg 7.38% 15.77%);
    --pattern: url('/images/backgrounds/Caterpie_w.webp');
    --fade: 0.6;
}
  