:root {
    --secondary-dark: hsl(233, 100%, 71%);
    --focus-dark: #19283880;
    --option-color: #213142;
    --msg-get: hsl(233, 40%, 57%);
    --msg-get-reply: hsl(233, 64%, 30%);
    --msg-send: hsl(233, 100%, 71%);
    --msg-send-reply: hsl(233, 24%, 32%);
    --pattern: url('/images/backgrounds/Cyberpunk_w.webp');
}
  